/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:<img ng-src="https://cdn.invisionapp.com/cdn/122703a8343163b1ed19dbba88dd0e49/screens/44857032/1/0KFKSQMfbeKaLdkgl8ZCzcqWBFyQ1Lf3CbAmDFmAXkdEXZj1Vnli84kS8Fo2w8QyHERxA0c6ioCe5mbjkWmBmw8/home_page.png" ng-style=" { width: screen.width * screen.displayScale, height: screen.height * screen.displayScale }" inv-image-load-event="consoleImageLoaded" class="screenImage projectScreen" src="https://cdn.invisionapp.com/cdn/122703a8343163b1ed19dbba88dd0e49/screens/44857032/1/0KFKSQMfbeKaLdkgl8ZCzcqWBFyQ1Lf3CbAmDFmAXkdEXZj1Vnli84kS8Fo2w8QyHERxA0c6ioCe5mbjkWmBmw8/home_page.png">;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}




/*** Main Layout ***/
body {text-align: center; color: #fff; background-color:#000; font-family: Arial, Helvetica, sans-serif;}
#wrapper {
	width: 960px;
	margin: 0 auto;
}
header {margin-bottom: 50px;}
article {width: 60%; float: left;}
aside {width: 33.3%; float: right;}
.clear {clear: both;}

aarticle {text-align: center;}

/*** END Main Layout ***/




/*** Header ***/
header h1 {
	border-style: solid;
	border-color:red;
	border-width:2px;
	font-size: 70px;
	padding: 20px 0;
	text-align: center;
	color: purple;
	margin-bottom: 20px;
	font-weight: normal; 
}
nav li{
	border-style: solid;
	border-color:red;
	border-width:2px;
	display: inline;
	margin-right: 75px;
	text-align:center;
	color: purple;
	font-size: 35px;
	padding: 5px 20px;
}
nav li.last {margin-right: 0;}
nav a {
	color:purple;
	text-decoration: none;
}
nav a:hover{
	color:purple;
}
/*** END Header ***/
/*** Main Content ***/
article h2, article h3 {padding: 20px 0;}
article p {padding: 50px 0;}

article h2, article h3, article p {border: solid 2px red; margin-bottom: 10px;}
article h2{font-size: 30px;}

/*** END Main Content ***/
/*** Sidebar and Footer ***/
aside {
	font-size: 25px;
	padding-top: 50px;
}
aside div {border: solid 2px red; height: 180px; padding-top: 100px;}

footer { padding-top: 25px; text-align: left; }
/*** END Sidebar and Footer ***/